@import 'variables';

#sidebar {
  width: 100%;
  height: 100%;
  text-align: center;
  border: 1px solid $grey;
  width: 28%;
  float: left;
  margin-left: 1%;
  text-align: center;
  background-color: $cardColor;
  img {
    width: 200px;
    height: 200px;
  }
}
